---
import CustomerTestimonial from "./CustomerTestimonial.astro";
const { variant = 3 } = Astro.props;
---

<div
  id="testimonials"
  class="py2 bt b--color gray-0 bb"
  style="--border-color: var(--gray-9);--gradient-color-1: var(--indigo-10);--gradient-color-2: var(--cyan-11);"
>
  <h3 class="f6 f8-s fw9 tc px4 mb0">Testimonials</h3>
  <p class="tc f5 fw4 gray-3 px4 pb2">Everything's better with friends</p>
  <section class="grid cols-3-m g4 p4 py4-m px6-m">
    <CustomerTestimonial
      variant={variant}
      image="images/brandon.jpeg"
      name="Brandon Dail"
      title="Staff Engineer, Discord"
      text="I did a bunch of work recently with Y.js and PartyKit and can confirm it made some of the most difficult parts a breeze. You should 100% try it out at least if it’s relevant to what you’re building."
    />
    <CustomerTestimonial
      variant={variant}
      image="images/davidk.jpeg"
      title="Founder, Stately"
      name="David Khourshid"
      text="It's the future of workflows."
    />
    <CustomerTestimonial
      variant={variant}
      image="images/yousef.jpeg"
      name="Yousef El-Dardiry"
      title="Maintainer, BlockNote.js"
      text="A breeze to set up 🙂 Just takes less than 40 lines of code to do! Looking forward to the future of PartyKit!"
    />
    <CustomerTestimonial
      variant={variant}
      image="images/anders.jpeg"
      name="Anders Bech Mellson"
      title="Developer, Stately"
      text="We've been having a blast using PartyKit at StatelyAI for a little while. It makes implementing real-time a breeze. Try it on your next thing 🎉"
    />
    <CustomerTestimonial
      variant={variant}
      image="images/bhanu.jpeg"
      title="Founder, SiteGPT"
      name="Bhanu Teja P"
      text="I have been trying to solve a real-time sync problem for SiteGPT for months now.  I tried everything and nothing seemed to work properly.  Sunil solved my entire problem using PartyKit in around 10 lines of code 🤯 10 lines... and I am not even exaggerating 😅 PartyKit is awesome!!"
    />
    <CustomerTestimonial
      variant={variant}
      image="images/adam.jpeg"
      title="Staff Engineer, Kiwi.com"
      name="Adam Janiš"
      text="oh god this is so easy"
    />
  </section>
</div>
