---
const { title, name, text, image, variant = 3} = Astro.props;
---

{variant === 1 &&
  <article 
    class='p4 shadow-6 br4 flex flex-column justify-between' 
    style='--gradient-color-2: var(--teal-5);'>
    <p class='lh-copy f5 fw7 mt0'>{text}</p>
    <footer class='flex items-center g3'>
      <img src={image} class='br-100 h3 w3 shadow-border-2 p1' />
      <div>
        <h4 class='lh-solid mt0 mb2 f4 o-80'>{name}</h4>
        <h5 class='lh-solid my0 f3 o-60 fw4'>{title}</h5>
      </div>
    </footer>
  </article>
}

{variant === 2 &&
  <article class='p5 shadow-6 br4 flex flex-column justify-between' style='--gradient-color-2: var(--teal-5);'>
    <p class='lh-title f7 fw9 measure-narrow mt0'>{text}</p>
    <footer class='flex items-center g3'>
      <img src={image} class='br-100 h4 w4 p1 shadow-6' />
      <div>
        <h4 class='lh-solid mt0 mb2 f6'>{name}</h4>
        <h5 class='lh-solid my0 f4 o-60 fw4'>{title}</h5>
      </div>
    </footer>
  </article>
}

{variant === 3 &&
  <article class='p4 shadow-6 br4 g1 gradient-1 gray-11' style='--gradient-color-1: var(--indigo-5); --gradient-color-2: var(--magenta-5);'>
    <img src={image} class='center br-100 h5 w5 p1 bg-overlay-tint-2' />
    <div class='tc mb4 mt3'>
      <h4 class='lh-solid mt0 mb2 f6'>{name}</h4>
      <h5 class='lh-solid my0 f4 o-60 fw4'>{title}</h5>
    </div>
    <p class='px3 lh-copy f3 mt0 o-80 tl'>{text}</p>
  </article>
}

{variant === 4 &&
  <article class='flex flex-column g1 ba b--color p4 br4' style='--gradient-color-2: var(--teal-5);'>
    <p class='px3 lh-copy f6 fw7 mt0 o-80 tl'>{text}</p>
    <div class='flex items-center g2'>
      <img src={image} class='br-100 h3 w3 p1 bg-overlay-tint-2' />
      <div>
        <h4 class='lh-solid mt0 mb1 f4'>{name}</h4>
        <h5 class='lh-solid my0 f4 o-60 fw4'>{title}</h5>
      </div>
    </div>
  </article>
}
