---
import ButtonLink from './ButtonLink.astro'
import HeroLoop from "./HeroLoop.jsx";

const { title, subtitle, kicker, text, variant = 12} = Astro.props;
---

{variant === 1 && 
    <header class='px4 py6 py7-m tc bb'>
        <article class='muted f3 dif justify-center g3 items-center py2 px3 br9 shadow-border-1'><p class='my0'>An inline notification that can be centered or not</p>
        <a href="#0" class='link primary fw7'>Learn more </a>
        </article>
        <h2 class='tc f8 lh-solid my3 fw9 measure'>{title}</h2>
        <p class='measure lh-copy f5 gray-4 center'>
        {text}
    </p>
        <footer class='flex items-center justify-center g4 mt4'>
        <a class='f3 fw7 link bg-primary bg-primary-hov indigo-11 px4 py3 lh-copy rounded' href='https://github.com/partykit/partykit'>Get started &rarr;</a> 
        <a class='f3 fw7 link primary primary-hov' href='#0'>Learn more &rarr;</a> 
        </footer>
        </header>
}
{variant === 2 && 
    <header class='tc py6 py7-m bb'>
        <h1 class='my0 lh-solid f4 f10-s fw9 tracked-tight mt4'>{title}</h1>
        <p class='lh-copy f4 f4-s ttu tracked mt4 measure-wide center'>{text}</p>
        <div class='flex g4 justify-center'>
        <a href='#0' class='link dib color mt4 shadow-6 shadow-hover py3 px4 rounded'>Get started →</a>
        <a href='#0' class='link dib color mt4 shadow-6 shadow-hover py3 px4 rounded'>Docs →</a>
        </div>
        </header>
}
{variant === 3 && 
    <header class='px4 px6-m py6 relative bb  gray-0 bg-indigo-11'>
        <h1 class='relative my0 lh-solid f7 f8-s f10-l fw9 tracked-tight mt4' >{title}</h1>
        <p class='relative lh-copy f4 f5-s mt3 mb4 measure-wide'>{text}</p>
        <div class='flex g4 relative'>
        <ButtonLink 
        href='https://github.com/partykit/partykit' 
        body='Get Started &rarr;' 
        title='Start developing collaborative apps with PartyKit'
        />
        </div>
        </header>
}
{variant === 4 && 
    <header class='px4 px6-m py6 relative bb'>
        <h1 class='relative my0 lh-solid f7 f8-s f10-l fw9 tracked-tight mt4' >{title}</h1>
        <p class='relative lh-copy f4 f5-s mt3 mb4 measure-wide'>{text}</p>
        <div class='flex g4 relative'>
        <ButtonLink 
        href='https://github.com/partykit/partykit' 
        body='Get Started &rarr;' 
        title='Start developing collaborative apps with PartyKit'
        />
        </div>
        </header>
}
{variant === 12 && 
    <header class='px4 px6-m py6 relative mb4 mb4-s'>
        <div class='absolute top-0 right-0 left-0 bottom-0'>
        <iframe 
            src='https://multicursor-sketch.vercel.app?host=io' 
            class='bn overflow-hidden w-100 h-100 db' 
            style='border-right: 1px solid black; opacity: 0.75;'>
        </iframe>
        </div>
        <h1 class='relative my0 lh-title lh-solid-s f8 f8-s f10-l fw9 tracked-tight mt4'
        style='pointer-events: none;'
        >
            Everything is better with<br />
            <HeroLoop client:only />
        </h1>
        <p class='relative lh-copy f5 f6-s mt4 measure-wide' style='pointer-events: none;'>
            {text}
        </p>

        <div class='flex g4 relative flex-column flex-row-s'>
            <ButtonLink 
                href='https://docs.partykit.io/quickstart' 
                body='Get Started &rarr;' 
                title='Start developing collaborative apps with PartyKit'
            />
            <ButtonLink
                variant={4}
                title='Join our Discord'
                href='https://discord.gg/g5uqHQJc3z'>
                Join our Discord &rarr; 
            </ButtonLink>
        </div>
        </header>
}
{variant === 13 && 
    <header class='px4 py6 py7-m bb'>
        <div class'mw9 center'>
        <h1 class='my0 lh-solid f5 f8-s fw9 tracked-tight mt4'>{title}</h1>
        <p class='lh-copy f5 f5-s mt4 measure'>{text}</p>
        <div class='flex g4'>
        <a href='https://github.com/partykit/partykit' class='link gray-0 dib mt4 shadow-6 shadow-hover py3 px4 rounded'>Get started →</a>
        <a href='#0' class='link gray-0 dib mt4 shadow-6 shadow-hover py3 px4 rounded'>Docs →</a>
        </div>
        </div>
        </header>
}