---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
---

<Layout>
  <Main pageTitle="PartyKit blog">
    <header>
      <h1 class="font-hero-bold md:font-XL-bold">PartyKit blog</h1>
      <p class="font-L">Everything’s better with friends.</p>
    </header>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2 class="font-XL">Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 10 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton className={``} href="/posts/2">More posts</LinkButton>
      </div>
    </section>
  </Main>
</Layout>

<style>
  header {
    margin-bottom: calc(var(--whitespace) * 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
    text-align: center;
  }

  @media (min-width: 760px) {
    header {
      margin-bottom: var(--whitespace);
      padding: 0;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: calc(var(--whitespace) - 4rem);
    display: none;
  }

  .all-posts-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 3rem;
  }

  @media (min-width: 760px) {
    .all-posts-btn-wrapper {
      margin: 4rem 0;
    }
  }
</style>
